.dropdown-collection{
    display: none;
    padding-bottom: 5.7rem;
    padding-top: 3.2rem;
    position: absolute;
    top: 100px;
    z-index: 5;
    background-color: #FFF;
    width: 100%;
    animation: fadeInOut 0.2s ease-in-out forwards;
    
}


@keyframes fadeInOut {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 600px; /* Ваше значение максимальной высоты */
    }
  }
.dropdown-show{
    display: block;
 
}
.dropdown-title {
  font-size: 1.8rem;
  color: #0c0c0c;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.dropdown-links {
  font-size: 18px;
  color: #404040;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.dropdown-image-link{
    font-size: 16px;
}
.dropdown-image{
    margin-bottom: 1.2rem;
    object-fit: cover;
   height:420px;
   width: 280px;
}
.dropdown-image-new{
  margin-bottom: 1.2rem;
  object-fit: cover;
 height:420px;
 width: 208px;
}
.dropdown-image-link:hover,
.dropdown-links:hover{
    color:#5A6D57;
}
/* .blur-background{
 
} */