@tailwind base;
@tailwind components;
@tailwind utilities;



@import "../styles/main-page.css";
@import '../styles/registration.css';
html {
  font-size: 62.5%;
}
body {
  color: rgb(var(--foreground-rgb));
}

.container {
  width: 1224px;
  margin: 0 auto;
}
.main-title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.main-button{
  background-color: #5A6D57;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.8rem 0;
  width: inherit;
}

