.header-free-shopping {
  height: 30px;
  background-color: #5a6d57;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icons {
  display: flex;
  min-width: 184px;
  justify-content: space-between;
}
.header-button {
  font-size: 1.8rem;
  font-weight: 400;
  color: #404040;
}
.header-links{
  font-size: 1.8rem;
  font-weight: 400;
  color: #404040;
  order:2
}

.logo-link {
  padding-top: 1.6rem;
  padding-bottom: 1.8rem;
}
