/* .slider-img {
  width: 100%;
} */
.swiper-pagination-bullet-active {
  --swiper-theme-color: black;
  --swiper-pagination-bullet-opacity: 0.7;
}


.stylish-sustainability {
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  bottom: 9.5rem;
  right: 10.8rem;
}
.sustainability-main-subtitle{
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.2rem 5rem;
  position: absolute;
  right: 10.8rem;
  bottom: 4.3rem;
  background-color: #fff;
}
