.card {
  display: flex;
  margin-bottom: 0.75rem;
  &__container {
    width: 100%;
    padding: 1.25rem;
    &_text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_title {
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
      }
    }
    &_subtitle {
      color: #404040;
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }
  }
  &__image {
    margin-right: 1rem;
    margin-bottom: 0.8rem;
  }
}

.basket__product_subtitle {
}
.basket__product_price {
  font-weight: 700;
  font-size: 1.6rem;
}
