.pagination__centre {
    display: flex;
    justify-content: center;
  }
  .pagination__container {
    display: flex;
    /* justify-content: space-between;
    width: 25rem; */
    margin-bottom: 4.8rem;
  }
  
  .pagination__button {
    font-size: 1.4rem;
    font-weight: 400;
    color: #5a6d57;
    padding: 0.5rem 1rem;
    border: 1px solid #5a6d57;
    margin-right: 0.5rem;
  }