#app {
  height: 600px;
  }
  /* /* html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */
/*    */
  .swiper {
    width: 100%;
    height: 600px;
  }
  
  .swiper__slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  height: 600px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .slider__img {
    display: block;
    width: 100%;
    height: 100%; 
     object-fit: cover;
 } 

  .main__swiper{height: 620px;
  margin-bottom: 8.8rem;
  width: 100%;
  z-index: 0;
 } 


  