.counter {
  display: flex;
  width: 7rem;
  justify-content: space-between;
  background-color: #d1d9cf;
  color: #404e3e;
  padding: 0 1rem;
  &__value {
    font-weight: 400;
    font-size: 2rem;
  }
}

