.wishlist__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  font-size: 1.2rem;
}
.wishlist__button:hover {
  border: solid 1px #404040;
}
.wishlist__button svg {
  margin-right: 0.7rem;
}
